.toggle-switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 56px;
  height: 28px;
  border-radius: 20px;
  border: 2px solid #7e7e7e;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
}

.toggle-switch__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.toggle-switch__slider {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #000;
  transition: transform 0.3s ease;
  z-index: 1;
}

.toggle-switch__checkbox:checked + .toggle-switch__slider {
  transform: translateX(28px);
}

.toggle-switch__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #7e7e7e;
  z-index: 2;
  transition: color 0.3s ease;
  pointer-events: none;
}

.toggle-switch__text_F {
  left: 9px;
}

.toggle-switch__text_C {
  right: 9px;
}

.toggle-switch__text_active {
  color: #fff;
}
@media screen and (max-width: 846px) {
  .toggle-switch {
    width: 52px;
    height: 26px;
    order: 3;
  }

  .toggle-switch__circle {
    width: 26px;
    height: 26px;
  }

  .toggle-switch__text {
    font-size: 12px;
  }

  .toggle-switch__text_F {
    left: 9px;
  }

  .toggle-switch__text_C {
    right: 9px;
  }

  .toggle-switch__checkbox:checked ~ .toggle-switch__circle {
    left: 24px;
  }
}
