.modal__content_type_delete {
  width: 100%;
  max-width: 670px;
  min-height: 280px;
  padding: 60px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal__delete-text {
  margin: 0 0 40px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.modal__delete-confirm {
  margin: 0 0 24px;
  border: none;
  background: transparent;
  color: #ff4d00;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.modal__delete-cancel {
  border: none;
  background: transparent;
  color: #000;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}
@media screen and (max-width: 846px) {
  .modal__content_type_delete {
    padding: 32px 20px 24px;
    min-height: auto;
  }

  .modal__delete-text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
  }

  .modal__delete-confirm,
  .modal__delete-cancel {
    font-size: 16px;
  }
}
