.page {
  background-color: #f3f3f3;
}
.page__content {
  max-width: 1360px;
  margin: auto;
  padding: 32px 40px;
}
@media screen and (max-width: 846px) {
  .page {
    width: 100%;
    justify-content: center;
    background-color: #f3f3f3;
  }
  .page__content {
    padding: 16px;
  }
}
